{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login_form.css' %}">
<link rel="stylesheet" href="{% static 'css/create_hub_form.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Management</title>
    
    <link rel="stylesheet" href="{% static 'css/aside.css'%}">
    <link rel="stylesheet" href="{% static 'css/socket.css'%}">
    <link rel="stylesheet" href="{% static 'css/panel_detail.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" >
    <!-- Leaflet CSS и JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
    <!-- Chart.js для линейного графика -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="{% if night_mode == 'on' %}dark{% endif %}">
    <!-- Навигационное меню -->
    <nav class="sidebar close">
        <!-- Шапка навигационного меню -->
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'img/logo.jpg' %}" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">Солнечные панели</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <!-- Основное меню -->
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'home' %}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Дашборд</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'table' %}">
                            <i class='bx bx-table icon'></i>
                            <span class="text nav-text">Таблицы</span>
                        </a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-link">
                        <a href="{% url 'hub_list' %}">
                            <i class='bx bx-planet icon'></i>
                            <span class="text nav-text">Управление</span>
                        </a>
                    </li>
                    {%endif%}
                    <li class="nav-link">
                        <a href="{% url 'manage_panels' %}">
                            <i class='bx bx-sidebar icon'></i>
                            <span class="text nav-text">Управление</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Переключатель ночного режима -->
            <div class="bottom-content">
                  <li class="nav-link">
                    <a href="{% url 'logout' %}">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Выход</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <div class="menu-text text">
                        <span class="text" style="margin-right: 10px">Ночной режим</span>
                    </div>
                    <div class="toggle-switch text">
                         <span class="switch"></span>
                    </div>      
                    
                </li>
                
            </div>
        </div>
    </nav>
    
    <!-- Основное содержимое страницы -->
    <main class="main-content close">
        {% block content %}{% endblock %}
    </main>

    <!-- Подключение скриптов -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
