{% extends 'base.html' %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/create_hub_form.css' %}">
{% endblock %}

{% block content %}
<div class="form-container"> <h2>Создать хаб</h2>
  <form method="post" class="hub-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать</button>
  </form>
  {% if form.errors %}
    <ul class="errors">
      {% for field in form %}
        {% for error in field.errors %}
          <li><strong>{{ field.label }}:</strong> {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}